{% extends "layout.html" %}
{% block content %}
        <div class="bg-light p-5 rounded-3"> <!-- BS5 equivalent for jumbotron -->
            <h1>About</h1>
            <p class="lead">
             <!-- Project name -->
            </p>
            <p>
              <!--a class="btn btn-lg btn-success" href="#" role="button">Learn more</a-->
            </p>
        </div>

        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h4>Accessible anywhere</h4>
                <p>Unlike traditional applications, web app are accessible anytime, anywhere, via a PC with an Internet connection.
                </p>
                <h4>Always up-to-date.</h4>
<p>You don't have to check newer version.</p>
                <h4>No install</h4>
<p>No installation required, Don't need your computer resources</p>
                <h4>Tools</h4>
                <p>Tools is designed to be an information source for the mass spectrometer community. We hope that the following information, tools, and references will be of use to you. If you have any suggestions for additional information to be included or if you would like to make a contribution to its content, I would like to here from you.</p>
<!--
                <h4><abbr title="Too Long Don't Read">TL;DR</abbr></h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
-->
                <h4><abbr title="Ask Me Anything">AMA</abbr></h4>
                <p>Please send me a e-mail to partrita@gmail.com.</p>
            </div>
        </div>
{% endblock %}
