{% extends "layout.html" %}
{% block content %}
        <div class="jumbotron">
             <h1>My demo Web app</h1>
            <p class="lead">This is index page</p>
            <br>
            <p><a class="btn btn-lg btn-success" href="/tools" role="button">Learn more</a>
            </p >
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

            </div>

            <div class="col-sm-6">
                <h4>Bucket List</h4>
                <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

                <h4>Bucket List</h4>
                <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>


            </div>
        </div>
{% endblock %}
