{% extends "layout.html" %}

{% block content %}
<div class="bg-light p-5 rounded-3"> <!-- BS5 equivalent for jumbotron -->
  <h2>Results of '{{name}} Da'</h2>
</div>
<div class="row">
    <div class="col-sm-12">
<!-- table -->
        <h4> table of '{{name}}' Da</h4>
        <table class = 'table'>
        <thead>
        <tr>
            <th> compound </th>
            <td> mass </td>
            <td> error </td>
        </tr>
        </thead>
        {% for key, value in result.items() %} <!-- Changed iteritems to items -->
        <tr>
            <th> {{ key }} </th>
            <td> {{ value[0] }} </td>
            <td> {{ value[1] }} </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
